<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet"  href="/style.css">

</head>
<body>
	<h1>Welcome to my home page</h1>
	<p>Here's the things that you can try - </p>
	<ul>
		<li>try going to /custom/{random text}</li>
	</ul>
</body>
</html>