<% include partials/header %>
<h1> Hello ahahhaaha </h1>

<form id = "sampleForm" action="/submit" method="POST">
	<input type="text" name="name" placeholder="Enter Name">
	<button type="submit">Submit</button>
</form>

<% include partials/footer %>