<% include partials/header %>

<h1> Our Best CampGrounds </h1>

<% camps.forEach(function(camp){ %>
	<div class="campground">
		<h3><%= camp.name %></h3>
		<img src="<%=camp.src %>">
	</div>
<% }); %>

<% include partials/footer %>